<div ng-controller="ScrumboardController">
        <div class="board" ng-repeat="board in data">
            <h3>{{ board.name }}</h3>
            <ul>
                <li ng-repeat="card in board.cards">
                    <scrumboard-card></scrumboard-card>
                </li>
            </ul>
            <div class="flex">
                <input type="text" ng-model="new_title" />
                <button ng-click="list_add(board, new_title)">+</button>
            </div>
        </div>
    </div>