{% load staticfiles %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
</head>
<body class="wrapper" ng-app="scrumboard.demo">
    {% verbatim %}
    <div ng-controller="ScrumboardController">
        <div class="board" ng-repeat="board in data">
            <h3>{{ board.name }}</h3>
            <ul>
                <li ng-repeat="card in board.cards">
                    <scrumboard-card></scrumboard-card>
                </li>
            </ul>
            <div class="flex">
                <input type="text" ng-model="new_title" />
                <button ng-click="list_add(board, new_title)">+</button>
            </div>
        </divclass>
    </div>
    {% endverbatim %}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="{% static "scrumboard/scrumboard.js" %}"></script>
    <script src="{% static "scrumboard/card-directive.js" %}"></script>

</body>

</html>